.main
  .main__groups
    = image_tag "dog.png", :size =>'300x300', class: "main__groups--icon"
    グループ１
  .main__groups
    = image_tag "cat.png", :size =>'300x300', class: "main__groups--icon"
    グループ１  
  .main__groups
    = image_tag "elf.png", :size =>'300x300', class: "main__groups--icon"
    グループ１    
  .main__groups
    = image_tag "bird.png", :size =>'300x300', class: "main__groups--icon"
    グループ１
  .main__groups
    = image_tag "fox.png", :size =>'300x300', class: "main__groups--icon"
    グループ１          